<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PeaRoxy.Windows.WPFClient.MultiInstance" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PeaRoxy.Windows.WPFClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PeaRoxy.Windows.WPFClient.MultiInstance>
            <setting name="LastArgs" serializeAs="String">
                <value />
            </setting>
        </PeaRoxy.Windows.WPFClient.MultiInstance>
        <PeaRoxy.Windows.WPFClient.Properties.Settings>
            <setting name="Server_Type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auth_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeaRoxySocks_Address" serializeAs="String">
                <value />
            </setting>
            <setting name="PeaRoxySocks_Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="PeaRoxyWeb_Address" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAndPassword_User" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAndPassword_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy_Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Proxy_Port" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="Proxy_SOCKS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Proxy_HTTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Proxy_HTTPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoConfig_Address" serializeAs="String">
                <value>proxy.pac</value>
            </setting>
            <setting name="AutoConfig_KeepRuning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoConfig_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoConfig_Mime" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Connection_NoDataTimeout" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="Connection_Encryption" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Startup_StartServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup_ShowWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Connection_SendPacketSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Connection_RecPacketSize" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="Connection_Compression" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Smart_HTTP_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smart_HTTP_AutoRoute_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smart_HTTP_AutoRoute_Pattern" serializeAs="String">
                <value>^HTTP/1.1 403 Forbidden(\r\nConnection:close)*</value>
            </setting>
            <setting name="Smart_HTTPS_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smart_SOCKS_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Smart_Timeout_Value" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Smart_Timeout_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smart_Direct_Port80Router" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smart_HTTP_List" serializeAs="String">
                <value />
            </setting>
            <setting name="Smart_Direct_List" serializeAs="String">
                <value />
            </setting>
            <setting name="PeaRoxySocks_Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyServer_Address" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyServer_Port" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="ProxyServer_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DNS_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DNS_IPAddress" serializeAs="String">
                <value>8.8.8.8</value>
            </setting>
            <setting name="ErrorRenderer_EnableHTTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ErrorRenderer_Enable443" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ErrorRenderer_Enable80" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Connection_StopOnInterrupt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smart_Direct_AutoRoutePort80AsHTTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TAP_IPRange" serializeAs="String">
                <value>10.0.0.0</value>
            </setting>
            <setting name="Hook_IntoRuningProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hook_Processes" serializeAs="String">
                <value>firefox.exe
iexplorer.exe
chrome,exe
opera.exe
safari.exe
avant.exe
rockmelt.exe
deepnet.exe
maxthon.exe
seamonkey.exe
gameoverlayui.exe
steam.exe</value>
            </setting>
            <setting name="Grabber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smart_AntiDNS_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Smart_AntiDNSPattern" serializeAs="String">
                <value>^(10.10.*.*)$</value>
            </setting>
        </PeaRoxy.Windows.WPFClient.Properties.Settings>
    </userSettings>
</configuration>