<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZARA.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ZARA.Properties.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Connection_NoDataTimeout" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="Connection_RecPacketSize" serializeAs="String">
        <value>8192</value>
      </setting>
      <setting name="Connection_SendPacketSize" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="Connection_StopOnInterrupt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DNS_IPAddress" serializeAs="String">
        <value>8.8.8.8</value>
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="UserAndPassword_User" serializeAs="String">
        <value />
      </setting>
      <setting name="UserAndPassword_Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="TAP_IPRange" serializeAs="String">
        <value>11.0.0.0</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowHost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Grabber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Hook_Processes" serializeAs="String">
        <value>firefox
iexplore
chrome
opera
safari
rockmelt
deepnet
maxthon
seamonkey
idman
dap</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
    </ZARA.Properties.Settings>
  </userSettings>
</configuration>